h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.collection-item {
  display: flex;
  justify-content: space-between;
}

.delete-button:hover {
  cursor: pointer;
}

.liked-button{
  margin-right: 5px;
}

.liked-button:hover {
  cursor: pointer;
}

.back-link {
  display: inline-flex;
}

.back-link span {
  margin-top: 4px;
}

.vote-box {
  display: flex;
  align-items: center;
}
